{% extends 'base.html' %}

{% block content %}
<div id="container">
    <div class="controls">
        <h1>About Us</h1>
        <p>
            The app was generated as per HackerEarth hackathon need and for a fight towards corona as a warrior.
            <br><br>
            <u>Credits : </u><br><br>
            Akshay Kumar Kushawaha - <a href="mailto:akshaykumar191200@gmail.com">akshaykumar191200@gmail.com</a> <br><br>
            Daman Bhola - <a href="mailto:damanbhola1022@gmail.com">damanbhola1022@gmail.com</a> <br><br>
            Deepak Kumar Jha - <a href="mailto:deepakkumarjha1111@gmail.com">deepakkumarjha1111@gmail.com</a> <br><br>

        </p>
    </div>
</div>
{% endblock %}